<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Page</title>

    <!-- Styles -->
    <link rel="stylesheet" href="styles/bootstrap.css">
</head>
<body>
	<h1>About Page</h1>
  <img src="images/background.png" alt="background">
    <!-- Scripts -->
    <script src="scripts/jquery-3.4.1.min.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="scripts/admin.js"></script>
</body>
</html>